/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}*/
.leftalignment{
    margin-left: 1000px;
    margin-top: 7px;
}
.footer{
    background-color: #2aa594;
    height: 80px;
    width: 100%;
}
.mat-toolbar.mat-primary {
    background: #3f51b5;
    color: #fff;
    position: fixed;
}
.icons{
    padding-top: 30px;
    padding-left: 100px;
}

.content{
    float: right;
    margin-top: -60px;
}

   